*{
    margin: 0;
}

.header{
    background-image: url('./assets/Hero-bg.png');
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1550px;
  margin: 0 auto;
}
.logo {
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #4e47ff;
  margin-top: 50px;
}
.signup-btn {
  width: 130px;
  height: 50px;
  margin-top: 50px;
  background-color: #4e47ff;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
.signup-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ff0;
}

.focus-area {
  margin-top: 160px;
  text-align: center;
}
.focus-text {
  font-size: 65px;
  font-family: "Raleway", sans-serif;
}
.focus-btn {
  width: 170px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 150px;
  background-color: #4e47ff;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
.focus-btn:hover{
    transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ff0;
}

/* main --> action */

main{
  background-color: 	#f9f8fc;
}

.action{
    max-width: 1300px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.about-action{
    margin-top: 180px;
    margin-bottom: 180px;
}
.title-a{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;

}
.para-a{
    margin-top: 23px;
    margin-bottom: 23px;
    font-size: 24px;
    color: #252432;
    font-family: "Raleway", sans-serif;
    
}
.action-img{
    margin-top: 116px;
    margin-bottom: 116px;
    width: 400px;
    height: 330px;
    border-radius: 40px;
}
.launch-a-btn{
    width: 229px;
  height: 50px;
  margin-top: 23px;
  margin-bottom: 63px;
  background-color: #4e47ff;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
.launch-a-btn:hover{
    transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ff0;
}
.data{
    max-width: 1300px;
    margin: 0 auto;
    background-color: #4d47ff1c;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 140px;
    padding: 50px;
}
.info-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-h{
    font-size: 38px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 60px;
}
.info, h4{
    font-size: 80px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}
.info, p{
    font-size: 20px;
    color: #000000;
    font-family: "Inter", sans-serif;
}
.rating{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}
.say{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;

}
.rating-card{
    margin-top: 50px;
    margin-bottom: 143px;
    display: flex;
    justify-content: space-evenly;

}
.card{
    background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
  text-align: left;
}
.rating-h{
  margin-top: 10px;
  margin-bottom: 12px;
}
.comment{
  margin-top: 15px;
  display: flex;
  align-items: center;
  
}
.comment p{
  display: inline-block;
  align-items: center;
}
.comment img{
  border-radius: 50%;
  
}
.date{
  padding-left: 50px;
}
#RN{
  padding-left: 10px;
}
.trial{
  display: block;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
   background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.trial-text{
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}
.trial-p{
  color: #00000058;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.trial-btn{
   width: 229px;
  height: 50px;
  margin-top: 23px;
  margin-bottom: 63px;
  background-color: #4e47ff;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
.trial-btn:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ff0;
}
.trial-sec-img{
  display: block;
  margin: 0 auto;
  border-radius: 48px;
}
.form-sec{
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 93px;
  margin-bottom: 50px;
}
.form-text{
  font-size: 97px;
  font-family: "Raleway", sans-serif;
}
.input{
 
}
.label{
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;

}
.input{
  width: 500px;
  height: 70px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  align-items: center;
  padding-left: 15px;
  font-family: "Inter", sans-serif;
}
.email{
  margin-bottom: 30px;
}
.form-btn{
   width: 500px;
  height: 60px;
  margin-top: 0;
  background-color: #4e47ff;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 100px;
}
.form-btn:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ff0;
}
.textarea{
  height: 150px;
}
.textarea, placeholder{
  padding-left: 15px;
  padding-top: 25px;
}
.footer{
  margin: 0 auto;
  max width: 900px;
  background-color: white;

}
.foot-logo{
  font-size: 100px;
  color: #4E47FF;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 105px;
}
.foot-p{
  color: #8987A1;
  margin-top: 18px;
  
}
.links{
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 105px;
}
.link a{
  text-decoration: none;
  color: #8987A1;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  
}